.carousel {
  position: relative;
  height: 100%;

  .slideStyles {
    position:relative;
      width: 100%;
      height: 500px;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
  }

  .rightArrowStyles {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 32px;
      font-size: 45px;
      color: #fff;
      z-index: 1;
      cursor: pointer;
  }

  .leftArrowStyles {
      @extend .rightArrowStyles;
      left: 32px;
      right: auto;
  }

  .dotsContainerStyles {
      display: flex;
      justify-content: center;
  }

  .dotStyle {
      margin: 0 3px;
      cursor: pointer;
      font-size: 20px;
      color:#ccc;
  }
  .activeDot {
    color: #000; // Color for active dot
  }

  .containerStyles {
      width: 600px;
      height: 600px;
      margin: 0 auto;
  }



}