.carousel {
    .sliderStyles {
      position: relative;
      height: 500px;;
    }
    .containerStyles {
      width: 500px;
      height: 280px;
      margin: 0 auto;
    }
  
    .slideStyles {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      background-size: cover;
      background-position: center;
    }
  
    .rightArrowStyles {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      right: 32px;
      font-size: 45px;
      color: #fff;
      z-index: 1;
      cursor: pointer;
    }
  
    .leftArrowStyles {
      @extend .rightArrowStyles;
      left: 32px;
      right: auto;
    }
  
    .dotsContainerStyles {
      display: flex;
      justify-content: center;
    }
  
    .dotStyle {
      margin: 0 3px;
      cursor: pointer;
      font-size: 20px;
    }
    .containerStyles {
        width: 600px;
        height: 600px;
        margin: 0 auto;
      }
  }