body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: url('path-to-your-background-image');
  filter: blur(10px);
}

.login-container {
  @include flex(column);
  @include posCenter();
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(240, 240, 240, 0.8);
  width: 500px;
}

.login-header {
  @include heading(2px, 400, capitalize);
  color: #333;
  margin-bottom: 20px;
}

.login-form {
  @include grid(auto, 1rem, auto);
  width: 100%;
}

.input-field {
  position: relative;
  margin-bottom: 15px;
}

.input-field label {
  display: block;
  margin-bottom: 15px;
}

.input-field input {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.eye-icon {
  position: absolute;
  top: 75%;
  left:97%;
  transform: translateY(-50%);
  cursor: pointer;
}

.error {
  color: #f00;
  font-size: 0.8em;
}

.submit-button {
  @include btn(10px 30px, #007bff, #fff);
position: relative;
justify-content: center;
align-items: center;
border-radius:4px;
left:40%;
}

.social-login {
  @include flex(row);
  gap: 10px;
  cursor:pointer;
}

.signup-text {
  text-align: center;
  color: #333;
}

.signup-link {
  color: #007bff;
  cursor: pointer;
}
